.userHeader{
    color: white;
    text-align: center;
    h2{
        margin: 0%;
    }
    .btnEdit{
        margin-top: 10%;
        color: white;
        background-color: #00bc77;
        width: 45%;
        padding: 5% 2%;
        border: none;
        font-size: 12px;
        font-weight: 600;
    }
}