.userHeader{
    color: white;
    text-align: center;
    h2{
        margin: 0%;
    }
    .btnEdit{
        margin-top: 2%;
        color: white;
        background-color: #00bc77;
        padding: 2%;
        font-size: 12px;
        font-weight: 600;
    }
    .editNameDiv{
        width: 100%;
        .editInputs{
            display: flex;
            justify-content: space-evenly;
            input{
                margin: 0% 2%;
            }
        }
        .editBtn{
            display: flex;
            justify-content: space-evenly;
            margin-top: 5%;
            .btn{
                width: 30%;
                padding: 2%;
                border: 1px solid rgb(137, 103, 192);;
                color: rgb(137, 103, 192);
                font-weight: 600;
            }
        }
    }
}
@media (max-width: 992px) {
    .userHeader{
        margin: 2% 0%;
        .btnEdit{
            margin-top: 5%;
        }
    }
}
@media (max-width: 768px) {
    .userHeader{
        margin: 5% 0%;
        .editNameDiv{
            .editInputs{
                width: 100%;
                input{
                    margin: 0% 2%;
                    width: 90%;
                }
            }
           
        }
    }
}