.userAccountCard{
    background-color: white;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 2% 0%;
    padding: 1%;
    h1{
        margin: 0%;
    }
    p{
        margin: 0%;
    }
    .cardRight{
        width: 10%;
        align-content: center;
        .btnTransaction{
            color: white;
            background-color: #00bc77;
            width: 100%;
            padding: 5%;
            font-weight: 700;
        }
    }
    
}
@media (max-width: 992px) {
    .userAccountCard{
        margin: 5% 0%;
        .cardRight{
            width: 30%;
            align-content: center;
            .btnTransaction{
                padding: 3%;
            }
        }
    
    }
}
@media (max-width: 768px) {
    .userAccountCard{
        margin: 5% 0%;
        h1{
            margin: 0.5% 0%;
        }
        .cardRight{
            width: 30%;
            align-content: center;
            .btnTransaction{
                padding: 3%;
            }
        }
    
    }
}