.homeInfo{
    display: flex;
    flex-flow: row nowrap;
    border-bottom: lightgray solid 1px;
    .homeInfoCard{
        padding: 2%;
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        i{
            border: 8px solid #00bc77;
            border-radius: 50%;
            padding: 5%;
        }
        p{
            font-size: 14px;
            text-align: center;
        }
    }
}

@media (max-width: 992px) {
    .homeInfo{
        .homeInfoCard{
            h4{
                margin-bottom: 1%;
            }
            i{
                border: 6px solid #00bc77;
                border-radius: 50%;
                padding: 6%;
            }
        }
    }
}

@media (max-width: 768px) {
    .homeInfo{
        .homeInfoCard{
            i{
                border: 5px solid #00bc77;
                border-radius: 50%;
                padding: 10%;
            }
            p{
                font-size: 12px;
                text-align: left;
            }
        }
    }
}
